* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: solid 1px red;
}
html {
  height: 100%;
}
body {
  min-height: 100v;
  width: 100%;
  background-color: F2EAE2;
  position: relative;
}

.card {
  height: 600px;
  width: 450px;
  position: absolute;
  left: 420px;
  top: 175px;
}
.cardTop {
  height: 450px;
  width: 300px;
}
img {
  height: 450px;
  width: 300px;
}
.cardBottom {
  background-color: #fff;
  height: 450px;
  width: 600px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}